* {
    margin: 0;
    padding: 0;

}
body {
    background:url(/img/RjWTUvXe-black-electronics-s-1-bg.jpg);
    background-size: cover;
    color: #fff;
    font-size: 16px;
}
.wrap {
    width: 90%;
    max-width: 1000px; 
}

.widget {
    width: 40%;
    margin-top: 2em;
}
.widget p {
display: inline-block;
line-height: 1em;
}
.fecha {
    font-family: oswald,arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}
.reloj {
    font-family: oswald,arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.5);

}
.reloj .caja-segundos {
    display: inline-block;

}
.reloj .segundos,
.reloj .ampm {
    font-size: 2rem;
    display: block;
}
